/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inika-regular - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/inika-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inika-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inika-700 - latin */
  @font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/inika-v21-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inika-v21-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
     box-sizing: border-box;
}
.wrapper {
     max-width: 1222px;
     margin: 0 auto;
}
h1 {
     font-family: Inter;
     font-style: normal;
     font-size: 45px;
     line-height: 50px;
     font-weight: 700;
}
h2 {
     font-family: Inika;
     font-style: normal;
     font-size: 40px;
     line-height: 50px;
     font-weight: 700;
}
h3 {
     font-family: Inter;
     font-style: normal;
     font-size: 20px;
     line-height: 20px;
     font-weight: 700;
}
a,
p {
     font-family: Inter;
     font-style: normal;
     font-size: 20px;
     line-height: 30px;
     font-weight: 400;

}
:root {
     --color-green: #499A18;
     --color-green-white: #D6E7D2;
     --color-green-salad: #C1E698;
     --color-green-light: #EDF2EC;
     --color-orange: #E06733;
     --color-gray-light: #717171;
     --color-gray: #636060;
     --color-black: #010201;
     --color-black-black: #000000;
     --color-white: #FFFFFF;
     --color-beige: #E3E1D5;
}
h2 {
     color: var(--color-green);
}
.overlay {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 400;
     transform: translateX(100%);
     background-color: rgba(0, 0, 0);
     opacity: 0;
     transition: 0.2s linear;
}
.overlay.active {
     transform: translateX(0%);
     opacity: 0.7;
}

/* Header style start */

.header {
     background: var(--color-green-light);
}
.header__wrapper {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     padding: 42px 0px 42px 0px;
}
.header__logo a {
     font-family: "Inika";
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 21px;
     text-decoration: none;
     padding-left: 25px;
     color: var(--color-black-black);
     background: url(../img/header__logo.svg) no-repeat;
     background-position: 2px 6px;
     padding-top: 10px;

}
.header__nav-items {
     display: flex;
     flex-wrap: wrap;
}
.header__nav-items-item {
     margin-right: 47px;
}
.header__nav-items-item:nth-child(5) {
     margin-right: 0px;
}
.header__nav-items-item a {
     font-family: "Inika";
     font-size: 16px;
     line-height: 50px;
     text-decoration: none;
     color: var(--color-black);
     transition: 0.2s all;
}
.header__nav-items-item a:hover {
     opacity: 0.7;
}
.header__nav-items-item a span {
     font-weight: 700;
     color: var(--color-orange);
}
.header__burger {
     display: none;
}

/* Header style end */

/* Intro style start */

.intro {
     background: var(--color-green-light);
}
.intro__wrapper {
     display: grid;
     grid-template-columns: repeat(2, auto);
     justify-content: space-between;
     padding: 62px 0;
     padding-top: 55px;
     padding-bottom: 52px;
}
.intro__img img {
     max-width: 100%;
}
.intro__text {
     max-width: 548px;
     margin-top: 43px;
}
.intro__text h1 {
     color: var(--color-gray-light);
     margin-bottom: 44px;
}
.intro__text h1 span {
     color: var(--color-green)
}
.intro__text p {
     line-height: 35px;
     color: var(--color-gray);
     margin-bottom: 59px;
}
.intro__btn a {
     font-family: "Inter";
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 20px;
     color: var(--color-black-black);
     padding: 11px 27px;
     border: 2px solid var(--color-orange);
     border-radius: 10px;
     transition: 0.2s linear;
     cursor: pointer;
     text-decoration: none;
}
.intro__btn a:hover {
     background-color: var(--color-orange);
     color: var(--color-white);
}

/* Intro style end */

/* Prof style start */

.prof {
     background-color: var(--color-white);
}
.prof__wrapper {
     display: grid;
     grid-template-columns: repeat(2, auto);
     justify-content: space-between;
     padding-top: 93px;
     padding-bottom: 94px;
}
.prof__text {
     margin-top: 73px;
     max-width: 605px;
}
.prof__text h2 {
     color: var(--color-green);
     font-weight: 400;
     margin-bottom: 39px;
}
.prof__text h2 span {
     color: var(--color-orange);
}
.prof__text p {
     color: var(--color-gray)
}
.prof__img img {
     max-width: 100%;

}

/* Prof style end */

/* Service style start */

.service {
     background-color: var(--color-green-light);
}
.service__wrapper {
     padding-top: 43px;
     padding-bottom: 120px;
}
.service__text {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 82px;
     max-width: 1008px;
}
.service__text-title {
     max-width: 306px;
}
.service__text-title h2 {
     font-weight: 400;
}
.service__text-btn {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     margin-top: 4px;
     width: 559px;
}
.service__text-btn button {
     font-family: "Inika";
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 26px;
     color:var(--color-orange);
     padding: 12px 0;
     width: 161px;
     border: 1px solid var(--color-orange);
     border-radius: 5px;
     transition: 0.2s linear;
}
.service__text-btn button:hover {
     background-color: var(--color-orange);
     color: var(--color-white);
}
.service__cards {
     display: grid;
     grid-template-columns: repeat(3, auto);
     grid-template-rows: repeat(2, auto);
     row-gap: 52px;
     column-gap: 20px;
     justify-content: space-between;
}
.service__cards-card {
     max-width: 330px;
     transition: 0.2s linear;
}
.service__cards-card.active {
     filter: blur(2px);
}
.service__cards-card-img img {
     border-radius: 20px 20px 0px 0px;
     max-width: 100%;
}
.service__cards-card-text {
     text-align: center;
     border: 1px solid var(--color-beige);
     border-radius: 0px 0px 20px 20px;
     padding-top: 10px;
     padding-bottom: 36px;
}
.service__cards-card-text h2 {
     font-family: "Inter";
     font-size: 20px;
     line-height: 20px;
     color: var(--color-orange);
     margin-bottom: 14px;
}
.service__cards-card-text p {
     font-size: 16px;
     line-height: 20px;
     color: var(--color-gray-light);
}

/* Service style end */

/* Price style start */

.price {
     padding-top: 39px;
     padding-bottom: 112px;
}
.price__wrapper {
     display: grid;
     grid-template-columns: repeat(2, auto);
     justify-content: space-between;
     background-color: var(--color-white);
}
.price__left-title {
     margin-bottom: 57px;
}
.price__left-title h2 {
     font-family: "Inter";
     color: var(--color-black-black)
}
.price__left-items {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: space-between;
     min-height: 212px;
     border: 1px solid var(--color-beige);
     border-radius: 20px;
     padding: 35px 41px 33px 41px;
}
.price__left-items-item {
     position: relative;
     max-width: 169px;
     height: 22px;
     padding: 16px 41px 12px 40px;
     background-color: var(--color-green-light);
     overflow: hidden;
     transition: 0.4s linear;
     border-radius: 20px;
     cursor: pointer;
     margin-bottom: 10px;
}
.price__left-items-item.active {
     background-color: var(--color-green-white);
     height: 115px;
}
.price__left-items-item-title {
     position: relative;
}
.price__left-items-item-title img {
     width: 17px;
     height: 17px;
     position: absolute;
     right: 0;
     transition: 0.2s linear;
}
.price__left-items-item-title img.active {
     transform: rotate(180deg);
}
.price__left-items-item-title a {
     font-family: "Inter";
     font-weight: 700;
     font-size: 20px;
     line-height: 20px;
     color: var(--color-black-black);
     border: none;
}
.price__left-items-item-text {
     opacity: 0;
     transition: 0.2s linear;
}
.price__left-items-item-text.active {
     opacity: 1;
}
.price__left-items-item-text p:nth-child(1) {
     font-size: 10px;
     line-height: 10px;
     font-weight: 300;
     color: var(--color-gray-light);
     margin: 6px 0px 6px 0px;
}
.price__left-items-item-text p:nth-child(2) span {
     font-size: 12px;
     line-height: 20px;
     font-weight: 700;
     color: var(--color-orange);
}
.price__left-items-item-text p:nth-child(2) {
     font-size: 10px;
     line-height: 10px;
     font-weight: 300;
     margin-bottom: 12px;
}
.price__left-items-item-text a:nth-child(3) {
     font-family: "Inter";
     font-size: 14px;
     line-height: 20px;
     font-weight: 700;
     color: var(--color-gray-light);
     background-color: var(--color-white);
     border-radius: 10px;
     border: none;
     padding: 3px 20px;
     transition: 0.2s linear;
     cursor: pointer;
     text-decoration: none;
}
.price__left-items-item-text a:hover:nth-child(3) {
     opacity: 0.7;
}
.price__left-items-item:nth-child(3) {
     margin-bottom: 0px;;
}
.price__right {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     align-items: flex-end;
}
.price__right-title {
     max-width: 452px;
     margin-bottom: 52px;
}
.price__right-title h2 {
     font-family: "Inter";
     color: var(--color-black-black);
     text-align: right;
}
.price__right-title h2 span {
     color: var(--color-green);
}
.price__right-btn {
     margin-bottom: 41px;
}
.price__right-btn a {
     font-family: 'Inika';
     font-style: normal;
     font-weight: 700;
     font-size: 20px;
     line-height: 26px;
     color: var(--color-orange);
     background: #ffffff;
     padding: 12px 34px 12px 30px;
     border: 1px solid var(--color-orange);
     border-radius: 5px;
     text-decoration: none;
     transition: 0.2s linear;
}
.price__right-btn a:hover {
     background-color: var(--color-orange);
     color: var(--color-white);
}
.price__img img {
     max-width: 100%;
}

/* Price style end */

/* Contact style start */

.contact {
     background: var(--color-green-light);
}
.contact__wrapper {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding-top: 53px;
}
.contact__img img {
     max-width: 100%;
}
.contact__title {
     margin-top: 7px;
     margin-left: 47px;
}
.contact__city {
     width: 450px;
     margin-top: 95px;
}
.contact__city  button {
     display: block;
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     text-align: left;
     border: none;
     width: 100%;
     transition: 0.2s linear;

}
.contact__city > button {
     position: relative;
     font-size: 20px;
     line-height: 40px;
     background-color: var(--color-green-white);
     background-image: url(../img/arrow__city.svg);
     background-repeat: no-repeat;
     background-position: center right 35px;
     color: var(--color-gray-light);
     border: none;
     width: 100%;
     text-align: left;
     padding: 5px 0px 5px 23px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contact__city-options {
     position: absolute;
     padding: 20px 50px 31px 20px;
     background-color: var(--color-green-white);
     max-width: 450px;
     opacity: 0;
     max-height: 0;
     transition: 0.5s linear;
     width: 100%;
     box-sizing: border-box;
     z-index: 30;
}
.contact__city-options.active {
     max-height: 100%;
     opacity: 1;
}
.contact__city-options > button {
     font-size: 16px;
     line-height: 40px;
     background-color: var(--color-green-white);
     color: var(--color-green);
}
.contact__city-options > button:hover {
     color: var(--color-gray-light)
}
.contact__city-options button:after {
     content: '';
     display: block;
     width: 0;
     height: 2px;
     margin-left: -5px;
     transition: 1s ease;
}
.contact__city-options button:hover:after {
     width: 100%;
     background-color: var(--color-gray-light);
}
.contact__city-cards-card {
     position: relative;
     z-index: 20;
     border-radius: 20px;
     background-color: var(--color-green-light);
     border: 1px solid var(--color-black-black);
     padding: 17px 60px 32px 33px;
     margin-top: 50px;
}
.contact__city-cards-card-text {
     display: flex;
}
.contact__city-cards-card-text-left {
     margin-right: 30px;
}
.contact__city-cards-card-text-left p:nth-child(1),
.contact__city-cards-card-text-right p:nth-child(1) {
     margin-bottom: 10px;
}
.contact__city-cards-card-text-left p:nth-child(2),
.contact__city-cards-card-text-right p:nth-child(2) {
     margin-bottom: 10px;
}
.contact__city-cards-card-text-left p:nth-child(3),
.contact__city-cards-card-text-right p:nth-child(3) {
     margin-bottom: 24px;
}
.contact__city-cards-card-btn a {
     font-family: "Inika";
     color: var(--color-gray-light);
     text-align: center;
     font-weight: 700;
     font-size: 14px;
     line-height: 14px;
     padding: 5px 1px;
     border: 1px solid var(--color-orange);
     max-width: 122px;
     display: block;
     margin: 0 auto;
     border-radius: 5px;
     transition: 0.2s linear;
     text-decoration: none;
}
.contact__city-cards-card-btn a:hover {
     background-color: var(--color-orange);
     color: var(--color-white);
}
.contact__city-cards-card:nth-child(1),
.contact__city-cards-card:nth-child(2),
.contact__city-cards-card:nth-child(3),
.contact__city-cards-card:nth-child(4) {
     display: none;
}

/* Contact style end */

/* Footer style start */

.footer {
     padding-top: 40px;
     padding-bottom: 40px;
}
.footer__top {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
}
.footer__left {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
}
.footer__left a,
.footer__left p {
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 50px;
     color: #000000;
     text-decoration: none;
     transition: 0.2s linear;
}
.footer__left a:hover,
.footer__left p:hover {
     opacity: 0.7;
}
.footer__left > p:nth-child(1),
.footer__left > p:nth-child(2) {
     margin-right: 20px
}
.footer__center a {
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 50px;
     color: #000000;
     text-decoration: none;
     transition: 0.2s linear;
}
.footer__center a:hover {
     opacity: 0.7;
}
.footer__right {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
}
.footer__right a {
     margin-right: 20px;
     transition: 0.2s linear;
}
.footer__right a:nth-child(3) {
     margin-right: 0px;
}
.footer__right a:hover {
     opacity: 0.7;
}

/* Footer style end */

@media all and (max-width: 1280px) {
     .wrapper {
          margin-right: 20px;
          margin-left: 20px;
     }
}
@media all and (max-width: 1160px) {
     .contact__wrapper {
          flex-direction: column;
          align-items: center;
     }
     .contact__title {
          margin: 0px;
          order: 1
     }
     .contact__img {
          order: 3;
     }
     .contact__city {
          margin: 20px 0px 20px 0px;
          order: 2;
     }
}
@media all and (max-width: 904px) {
     .service__text-title {
          margin-bottom: 10px;
     }
}
@media all and (max-width: 768px) {
     h1 {
          font-size: 35px;
     }
     h2 {
          font-size: 35px;
     }
     .wrapper {
          margin-right: 50px;
          margin-left: 50px;
     }
     .header__wrapper {
          padding-top: 35px;
          padding-bottom: 35px;
     }
     .intro__wrapper {
          padding-top: 40px;
          padding-bottom: 70px;
     }
     .intro__img {
          max-width: 280px;
          order: 2;
     }
     .intro__text {
          max-width: 341px;
          order: 1;
          margin-top: 0px;
     }
     .intro__text h1 {
          margin-bottom: 30px;
     }
     .intro__text p {
          font-size: 16px;
          line-height: 25px;
          margin-bottom: 44px;
     }
     .prof__wrapper {
          grid-template-columns: auto;
          grid-template-rows: repeat(2, auto);
          padding-top: 40px;
          padding-bottom: 95px;
     }
     .prof__text {
          max-width: initial;
          margin-top: 0px;
          margin-bottom: 40px;
     }
     .prof__text h2 {
          text-align: center;
     }
     .prof__img {
          margin: 0 auto;
          max-width: 250px;
     }
     .service__wrapper {
          padding-top: 60px;
          padding-bottom: 70px;
     }
     .service__text {
          margin-bottom: 40px;
     }
     .service__text-title {
          margin-bottom: 40px;
     }
     .service__text-btn {
          margin-top: 0px;
     }
     .service__cards {
          grid-template-columns: repeat(2, auto);
          grid-template-rows: repeat(3, auto);
          row-gap: 38px;
     }
     .service__cards-card {
          max-width: 280px;
     }
     .service__cards-card-img img {
          object-fit: cover;
          min-height: 350px;
     }
     .service__cards-card-text {
          padding-bottom: 20px;
     }
     .service__cards-card-text h2 {
          margin-bottom: 10px;
     }
     .service__cards-card-text p {
          margin: 0 auto;
          max-width: 200px;
     }
     .service__cards .service__cards-card:nth-child(1) .service__cards-card-img img {
          object-position: left;
     }
     .service__cards .service__cards-card:nth-child(4) .service__cards-card-img img {
          object-position: top;
     }
     .price {
          padding-top: 40px;
          padding-bottom: 88px;
     }
     .price__left-title {
          margin-bottom: 50px;
     }
     .price__right-title h2 {
          font-size: 25px;
          line-height: 35px;
     }
     .price__right {
          margin-top: 100px;
     }
     .price__img {
          max-width: 152px;
     }
     .contact__wrapper {
          padding-top: 40px;
     }
     .contact__title {
          margin-bottom: 100px;
     }
     .contact__title h2 {
          font-size: 40px;
     }
     .contact__city {
          margin-bottom: 30px;
     }
     .contact__img {
          max-width: 200px;
     }
     .footer__top {
          flex-direction: column;
     }
     .footer__center a p {
          margin-bottom: 20px;
     }
}
@media all and (max-width: 625px) {
     .header__wrapper {
          position: relative;
     }
     .header__nav {
          position: fixed;
          top: 0;
          right: 0;
          width: 320px;
          height: 100%;
          background-color: var(--color-green-salad);
          z-index: 500;
          transform: translateX(100%);
          opacity: 0;
          transition: 0.4s ease;
     }
     .header__nav.active {
          transform: translateX(0%);
          opacity: 1;
     }
     .header__nav-items {
          display: flex;
          flex-direction: column;
          padding: 70px 30px;
     }
     .header__nav-items-item {
          margin-right: 0px;
          margin-bottom: 20px;
     }
     .header__nav-items-item a {
          font-size: 26px;
     }
     .header__burger {
          display: block;
          position: absolute;
          top: 34px;
          right: 0px;
          width: 40px;
          height: 24px;
          z-index: 510;
     }
     .header__burger:hover {
          opacity: 0.7;
     }
     .header__burger span {
          position: absolute;
          width: 100%;
          height: 3px;
          border-radius: 3px;
          background-color: var(--color-gray-light);
          transition: 0.3s ease-in-out;
     }
     .header__burger span:nth-child(1) {
          top: -2px;
     }
     .header__burger span:nth-child(1).active {
          transform: rotate(45deg);
          top: 9px;
     }
     .header__burger span:nth-child(2) {
          top: 40%;
     }
     .header__burger span:nth-child(2).active {
          opacity: 0;
          transform: translateX(-1000%);
     }
     .header__burger span:nth-child(3) {
          bottom: 0px;
     }
     .header__burger span:nth-child(3).active {
          transform: rotate(-45deg);
          bottom: 13px;
     }
     .intro__img img {
          display: none;
     }
     .service__text-btn {
          flex-direction: column;
          align-items: start;
     }
     .service__text-btn button {
          margin-bottom: 5px;
     }
     .price__wrapper {
          grid-template-columns: auto;
          grid-template-rows: repeat(2, auto);
          justify-content: center;
     }
     .price__left-title h2 {
          text-align: center;
     }
     .price__right {
          align-items: center;
          margin-top: 30px;
     }
     .price__right-title h2 {
          text-align: center;
          max-width: 300px;
     }
     .contact__city {
          max-width: 370px;
     }
     .contact__city-options {
          max-width: 370px;
     }
}
@media all and (max-width: 491px) {
     h2 {
          font-size: 25px;
          line-height: 35px;
     }
     p {
          font-size: 15px;
          line-height: 20px;
     }
     .wrapper {
          margin-right: 25px;
          margin-left: 25px;
     }
     .intro__wrapper {
          padding-top: 24px;
          padding-bottom: 40px;
     }
     .intro__btn a {
          font-size: 12px;
          line-height: 16px;
          padding: 10px 23px;
     }
     .intro__text h1 {
          font-size: 25px;
          line-height: 35px;
     }
     .prof__wrapper {
          padding-top: 30px;
          padding-bottom: 30px;
     }
     .prof__text h2 {
          margin-bottom: 20px;
     }
     .prof__text {
          margin-bottom: 0px;
     }
     .service__wrapper {
          padding-top: 30px;
          padding-bottom: 30px;
     }
     .service__text {
          flex-direction: column;
          align-items: start;
     }
     .service__text-title {
          max-width: 250px;
          margin-bottom: 35px;
     }
     .service__text-btn {
          width: initial;
     }
     .service__text-btn button {
          font-size: 16px;
          line-height: 20px;
          padding: 5px 0px;
          width: 130px;
          margin-bottom: 10px;
     }
     .service__cards {
          grid-template-columns: auto;
          grid-template-rows: repeat(6, auto);
          justify-content: center;
     }
     .price {
          padding-top: 25px;
          padding-bottom: 40px;
     }
     .price__left-title {
          margin-bottom: 40px;
     }
     .price__left-items {
          padding: 29px 22px;
          min-height: 190px;
     }
     .price__left-items-item-title a {
          font-size: 16px;
          line-height: 20px;
     }
     .price__img img {
          display: none;
     }
     .price__right-title {
          margin-bottom: 30px;
     }
     .price__right-btn a {
          font-size: 16px;
          line-height: 25px;
          padding: 10px 26px;
     }
     .contact__title {
          margin-bottom: 30px;
     }
     .contact__title h2 {
          font-size: 25px;
          line-height: 35px;
     }
     .contact__city > button {
          font-size: 16px;
          line-height: 34px;
     }
     .contact__city-cards-card {
          padding: 20px 25px;
     }
     .footer__left a, .footer__left p {
          font-size: 16px;
     }
}
@media all and (max-width: 420px) {
     .contact__city {
          max-width: 300px;
     }
     .contact__city-options {
          max-width: 300px;
     }
}
@media all and (max-width: 350px) {
     .contact__city {
          max-width: 270px;
     }
     .contact__city-options {
          max-width: 270px;
     }
     .contact__city-cards-card-text-left {
          margin-right: 0px;
     }
}